<div class="mega-column">
    <h3>@Localizer["Menu_Recommended"]</h3>
    <a href="/Shop?gatunek=Biografia">@Localizer["Cat_Biography"]</a>
    <a href="/Shop?gatunek=Biznes">@Localizer["Cat_Business"]</a>
    <a href="/Shop?gatunek=Ezoteryka i parapsychologia">@Localizer["Cat_Esoteric"]</a>
    <a href="/Shop?gatunek=Fantasy">@Localizer["Cat_Fantasy"]</a>
    <a href="/Shop?gatunek=Historia">@Localizer["Cat_History"]</a>
    <a href="/Shop?gatunek=Komiksy, Mangy">@Localizer["Cat_Comics"]</a>
    <a href="/Shop?gatunek=Kryminał">@Localizer["Cat_Crime"]</a>
    <a href="/Shop?gatunek=Wiek-6-8" class="highlight">@Localizer["Cat_Children"]</a>
    <a href="/Shop?gatunek=Dla młodzieży">@Localizer["Cat_YoungAdult"]</a>
    <a href="/Shop?gatunek=Kuchnia i diety">@Localizer["Cat_Cooking"]</a>
</div>
<div class="mega-column">
    <h3>@Localizer["Menu_CultureArt"]</h3>
    <a href="/Shop?gatunek=Popularnonaukowa">@Localizer["Cat_NonFiction"]</a>
    <a href="/Shop?gatunek=Literatura obcojęzyczna">@Localizer["Cat_ForeignLit"]</a>
    <a href="/Shop?gatunek=Literatura obyczajowa">@Localizer["Cat_Fiction"]</a>
    <a href="/Shop?gatunek=Powieść">@Localizer["Cat_BellesLetters"]</a>
    <a href="/Shop?gatunek=Nauka języków">@Localizer["Cat_Languages"]</a>
    <a href="/Shop?gatunek=Nauki humanistyczne">@Localizer["Cat_Humanities"]</a>
    <a href="/Shop?gatunek=Naukowe">@Localizer["Cat_Science"]</a>
    <a href="/Shop?gatunek=Podręczniki akademickie">@Localizer["Cat_Academic"]</a>
    <a href="/Shop?gatunek=Podróże i turystyka">@Localizer["Cat_Travel"]</a>
    <a href="/Shop?gatunek=Poezja">@Localizer["Cat_Poetry"]</a>
    <a href="/Shop?gatunek=Popularnonaukowa">@Localizer["Cat_PopularSci"]</a>
    <a href="/Shop?gatunek=Poradniki">@Localizer["Cat_Guides"]</a>
    <a href="/Shop?gatunek=Prawo">@Localizer["Cat_Law"]</a>
    <a href="/Shop?gatunek=Religia">@Localizer["Cat_Religion"]</a>
    <a href="/Shop?gatunek=Sport">@Localizer["Cat_Sport"]</a>
</div>
<div class="mega-column">
    <h3>@Localizer["Menu_ChildrenBooks"]</h3>
    <a href="/Shop?gatunek=Wiek-0-2">@Localizer["Menu_Age02"]</a>
    <a href="/Shop?gatunek=Wiek-3-5">@Localizer["Menu_Age35"]</a>
    <a href="/Shop?gatunek=Wiek-6-8">@Localizer["Menu_Age68"]</a>
    <a href="/Shop?gatunek=Wiek-9-12">@Localizer["Menu_Age912"]</a>
    <h3 style="margin-top: 20px;">@Localizer["Menu_PersonalDev"]</h3>
    <a href="/Shop?gatunek=Emocje">@Localizer["Cat_Emotions"]</a>
    <a href="/Shop?gatunek=Kariera">@Localizer["Cat_Career"]</a>
    <a href="/Shop?gatunek=Psychologia">@Localizer["Cat_Psychology"]</a>
</div>
